<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head th:replace="fragments/general.html :: common_header(~{::title},~{})">
<meta charset="utf-8">
<title th:text="#{h.addGc}"></title>
</head>
<body id="createGrantingCapabilityPage" class="home" vocab="http://schema.org/" typeof="WebPage">
	<div th:insert="fragments/general.html :: header_nav('home')"></div>
	<main role="main" property="mainContentOfPage" class="container">

		<h1 th:text="#{h.addGc}"></h1>

		<div th:insert="fragments/general.html :: profile_info('home')"></div>

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="web-frmvld">

					<form action="#" th:action="@{addGrantingCapabilities}" th:object="${gc}" method="post">

                        <section th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                        
                            <h2 th:text="${topErrCounter.getQueueSize()} > 1 ? #{err.multipleFormErrors(${topErrCounter.getQueueSize()})}
                                : #{err.oneFormError} "></h2>
                                
                            <ul>
                                <li th:each="err : ${#fields.errors('description')}">
                                    <a href="#descriptionDiv">
                                        <span th:text="#{err.field.aboveForm(${topErrCounter.getNextErrNum()}, #{th.description}, ${err})}"></span>
                                    </a>
                                </li>
                                <li th:each="err : ${#fields.errors('url')}">
                                    <a href="#urlDiv">
                                        <span th:text="#{err.field.aboveForm(${topErrCounter.getNextErrNum()}, #{form.url}, ${err})}"></span>
                                    </a>
                                </li>
                                <li th:each="err : ${#fields.errors('grantingStage')}">
                                    <a href="#grantingStageDiv">
                                        <span th:text="#{err.field.aboveForm(${topErrCounter.getNextErrNum()}, #{form.gs}, ${err})}"></span>
                                    </a>
                                </li>
                                <li th:each="err : ${#fields.errors('grantingSystem')}">
                                    <a href="#grantingSystemDiv"></a>
                                        <span th:text="#{err.field.aboveForm(${topErrCounter.getNextErrNum()}, #{form.gSys}, ${err})}"></span>
                                </li>
                            </ul>
                        
                        </section>

						<div class="form-group" id="descriptionDiv" th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
							
							<label for="descriptionInput" class="required">
							
							    <span class="field-name" th:text="#{th.description}"></span>
							    <strong class="required" th:utext="#{form.required}"></strong>
							    
							    <span th:each="err : ${#fields.errors('description')}">
							        <br>
							        <strong class="label label-danger" style="font-size: 100%;"
							            th:text="#{err.field(${formErrCounter.getNextErrNum()}, ${err})}"></strong>
							    </span>
							    
							</label>
							
							<textarea id="descriptionInput" th:field="*{description}" class="form-control" rows="5" cols="50" ></textarea>
							
						</div>

						<div class="form-group" id="urlDiv" th:classappend="${#fields.hasErrors('url')} ? 'has-error'">
						
							<label for="urlInput" class="required">
							    
							    <span class="field-name" th:text="#{form.url}"></span>
							    <strong class="required" th:utext="#{form.required}"></strong>
							    
							    <span th:each="err : ${#fields.errors('url')}">
							        <br>
							        <strong class="label label-danger" style="font-size: 100%;"
							            th:text="#{err.field(${formErrCounter.getNextErrNum()}, ${err})}"></strong>
							    </span>
							    
							</label>
							
							<input id="urlInput" type="text" th:field="*{url}" class="form-control" style="width: 67%;" />
							
						</div>

						<div class="form-group" id="grantingStageDiv" th:classappend="${#fields.hasErrors('grantingStage')} ? 'has-error'">
						
							<label for="stageDropdown" class="required">
							
							    <span class="field-name" th:text="#{form.gs}"></span>
							    <strong class="required" th:utext="#{form.required}"></strong>
							    
							    <span th:each="err : ${#fields.errors('grantingStage')}">
							        <br>
							        <strong class="label label-danger" style="font-size: 100%;"
							            th:text="#{err.field(${formErrCounter.getNextErrNum()}, ${err})}"></strong>
							    </span>
							    
							</label>
							
							<div>
								
								<select id="stageDropdown" class="form-control" th:field="*{grantingStage}" >
									<option th:each="stage : ${grantingStages}" th:value="${stage.id}" th:text="${stage.getLocalizedAttribute('name')}"></option>
								</select>
								
							</div>
							
						</div>

						<div class="form-group" id="grantingSystemDiv" th:classappend="${#fields.hasErrors('grantingSystem')} ? 'has-error'">
							
							<label for="systemDropdown" class="required">
							
							    <span class="field-name" th:text="#{form.gSys}"></span>
							    <strong class="required" th:utext="#{form.required}"></strong>
							
							    <span th:each="err : ${#fields.errors('grantingSystem')}">
							        <br>
							        <strong class="label label-danger" style="font-size: 100%;"
							            th:text="#{err.field(${formErrCounter.getNextErrNum()}, ${err})}"></strong>
							    </span>
							
							</label>
							
							<div>
							
								<select id="systemDropdown" class="form-control" th:field="*{grantingSystem}" >
									<option th:each="system : ${grantingSystems}" th:value="${system.id}" th:text="${system.acronym}"></option>
								</select>
							
							</div>
							
						</div>

                        <input type="hidden" name="fundingOpportunity" th:value="${foId}" />

						<input type="submit" class="btn btn-primary" th:value="#{input.submit}" />
						<a class="btn btn-link" th:href="@{/manage/manageFo(id=${param.foId})}" th:text="#{msg.cancel}"></a>

					</form>

				</div>

			</div>

			<div th:insert="fragments/general :: returnHome"></div>

		</div>

	</main>

	<footer th:insert="fragments/general :: footer(~{})"></footer>

</body>
</html>